*.{
    padding: 0%;
} 

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.tooltip-btn{
    background-color: blue;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;cursor: pointer;
    box-shadow: 0px 4px 5px rgba(10, 4, 66, 0.5);
}

.tooltip-btn:hover{
    transform: translateY(-5px);
    transition: 0.4;
    background-color: gray;
}

span{
    padding: 25px;
}

span:hover{
    color: black;
}