.seccion-responsive {
    background-color: royalblue;
    display: grid;
    grid-template-columns: auto auto;
    padding: 0.5rem;
    gap: 5rem;
    margin: 30px;
}

.contenedor-1 {
    background-color: salmon ;
    display: flex;
    gap: 5rem;
    padding: 0.5rem;
    flex-direction: column;
}

.contenedor-2 {
    background-color: sandybrown;
    display: flex;
    gap: 5rem;
    padding: 0.5rem;
    flex-direction: column;
    
}

.item{
    border: 1px solid white;
    display: flex;
    padding: 0.5rem;
    gap: 5rem;
}

@media (orientation: landscape) and (min-width: 640px) {
    .item4 {
        color: rgb(83, 83, 83);
        justify-content: center;
        align-self: stretch;
    }

    .contenedor-2{
        background-color: aquamarine;
        align-content: space-around;
        justify-content: center;
        align-self: stretch;
        }

    .seccion-responsive{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-self: stretch;
    }

    .contenedor-1{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-self: stretch ;
    }
}