a{
  text-decoration: none;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.boton {
    width: 150px;
    height: 50px;
}

.contenedor .contenido {
	position: static;
	color: black;
	font-size: 15px;
	border-radius: 8px;
}
.contenedor .contenido p:before {
	content: "PASA POR ENCIMA";
	color: #000000;
}
.contenedor .contenido p:hover:before {
	content: "¡HECHO!";
    background-color: green;
	color: #ffffff;
	transition: color 0.1s linear 0.1s;
}